* {
  margin: 0;
  padding: 0;
  font-family: "Public Sans";
}

/* --------- body ----------- */

.body {
  background-color: #f6f6f6;
  padding-bottom: 100px;
}

/* helloadmin */

.body .helloadmin {
  display: flex;
  flex-direction: column;
  align-items: start;
  /* width: 100%; */
  padding: 24px 80px;
  gap: 10px;
}

.body .helloadmin h2 {
  font-size: 16px;
  font-weight: 600;
  color: #191b1c;
  margin: 0;
}

.body .helloadmin p {
  font-size: 14px;
  font-weight: 400;
  color: #626c70;
  margin: 0;
}

/* download */

.downloadingDiv {
  display: flex;
  width: 92vw;
  justify-content: space-between;
  align-items: center;
  padding: 24px 45px;
  background-color: white;
  border-radius: 8px;
  margin: 0 auto;
}

.downloadingDiv div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.downloadingDiv div h2 {
  color: #191b1c;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

/* -------- mainDiv --------- */

.mainDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap !important;
  width: 100%;
  padding: 32px 40px;
  flex-wrap: wrap;
  gap: 0 !important;
}

.line {
  border: solid 1px #e5e7e8;
  /* width: 76vw; */
  margin: 24px 0px;
}
.filterDiv {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100vh;
  width: 100%;
  padding: 0;
  /* border: solid 1px rgb(0, 0, 0); */
}
.filter {
  background-color: white;
  /* padding: 5px; */
  width: 90%;
  /* border: solid 1px rgb(0, 0, 0); */
  /* margin-top: 28px; */
  border-radius: 8px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.form-select {
  width: 95% !important;
  margin-left: 12px;
  margin-right: 12px;
  /* border: solid 3px yellow; */
}

.tableContainer {
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 8px;
}

.dateTime {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: #191b1c;
  padding: 0;
}

.dateTime p {
  margin: 0;
}

.uprCard {
  display: flex;
  gap: 10px;
  /* border: solid 1px red; */
}

.card {
  width: 23vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 24px;
  background-color: white;
  border-radius: 8px;
  border: none !important;
}

.uprCardHead {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #0f6609;
  background-color: #edfff3;
  padding: 0;
  margin: 0;
}

.uprCardHead p {
  margin: 0;
}

.uprCardBody {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding: 0;
  margin: 0;
  /* margin-left: 5px; */
}

.uprCardBody h2,
.uprCardBody p {
  margin: 0;
  color: #191b1c;
}

.uprCardBody h2 {
  font-size: 1.05vw;
  font-weight: 600;
}

.uprCardBody p {
  font-size: 14px;
  font-weight: 400;
  color: #4a5154;
}

.uprCardBody > div:not(:last-child) {
  border-right: 1px solid #ddd;
  padding-right: 10px;
  margin-right: 10px;
}

.cordinateDepartmentBox {
  /* border: solid 1px black; */
  width: 70.78vw;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 24px;
}

.secondCardBox {
  display: flex;
}

.secondCardBody {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  margin-left: 8px;
  margin-top: 24px;
}

.secondCardBody h3 {
  font-size: 1.03vw;
  font-weight: 600;
  color: #191b1c;
  margin: 0;
}

/* detail kpi */

.cardp {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #191b1c;
  border-bottom: solid 1px #e5e7e8;
}

.detailKpi {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.detailKpiHead {
  font-size: 18px;
  font-weight: 600;
  color: #191b1c;
  margin: 0;
}

.detailKpi div {
  display: flex;
  gap: 10px;
}

.kpicard1 {
  width: 24vw !important;
}

.uprCardBody .cardbodyitems {
  display: flex !important ;
  flex-direction: column !important ;
  gap: 4px;
}

.kpicard2 {
  width: 28vw !important;
}

.kpicard2 .cardbodyitems:first-child,
.kpicard1 .cardbodyitems:first-child,
.kpicard3 .cardbodyitems:first-child,
.kpicard4 .cardbodyitems:first-child {
  width: 50% !important;
  text-align: end;
}

.kpicard2 .cardbodyitems:last-child,
.kpicard1 .cardbodyitems:last-child,
.kpicard3 .cardbodyitems:last-child,
.kpicard4 .cardbodyitems:last-child {
  width: 50% !important;
  text-align: start;
}

.kpicard3 {
  width: 26vw !important;
}

.kpicard4 {
  width: 40vw !important;
}

/* kpi detail end */

/* graph */

.graphbox {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  /* border: solid 1px red; */
  box-sizing: border-box;
  overflow: hidden;
}

.graphbox div {
  /* border: solid 1px black; */
  /* display: flex;
  flex-direction: column;
  justify-content: end; */
}

#myChart1 {
  /* width: 24vw !important; */
  /* height: 400px !important; */
}

.chart-container{
  border-radius: 8px;
background: #FFF;
padding: 10px;
width: 22vw;
/* height: 20vw; */
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}

/* Top title for the chart */
.chart-title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  /* border: #0f6609 solid 1px; */
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  background-color: #edfff3;
  color: rgba(15, 102, 9, 1);
}

/* Row for the canvas and vertical label */
.chart-row {
  display: flex;
  flex-direction: row; /* Align canvas and vertical label in a row */
  align-items: center;
}

/* Vertical label styling */
.vertical-label {
  writing-mode: vertical-rl; /* Rotates the text vertically */
  transform: rotate(180deg);
  margin-right: 8px;
  color: var(--Green-2, #0f6609);
  font-family: "Public Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.graphBase-label{
  color: var(--Green-2, #0f6609);
  width: 100%;
  font-family: "Public Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  margin-top: 8px;
}

/* Canvas styling */
canvas {
  /* border: 1px solid #ccc; */
  width: 93% !important;
}
