#notificationList{
  /* border: solid 1px green !important; */
  width: 350px !important;
  padding: 10px;
}

#notificationList p{
 color: var(--Gray-900, #191B1C);
font-family: "Public Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}

.notificationLIstBox div{
    /* border: solid 1px red; */
    display: flex;
    align-items: center;
    gap: 10px;
}

#notificationList img{
  width: 40px !important;
  height: 40px !important;
}

#notificationList .notIcon{
   
    display: flex;
padding: 12px;
align-items: flex-start;
gap: 10px;
border-radius: 50%;
width: 50px;
height: 50px;
}

.notificationColorYellow .notIcon{
   background: #FFFDD5;
}

.notificationColorRed .notIcon{
  background-color: rgba(240, 246, 255, 1);
}

.notificationTime{
    border-bottom: solid 1px #E5E7E8;
    display: flex;
    justify-content: flex-end;
}