body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  background-color: #f6f6f6;
}

.left {
  width: 42%;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.leftImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftImg img {
  object-fit: contain;
}

.right {
  width: 58%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightTop {
  margin-top: 24px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

/* logo */

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
}

.logo :first-child {
  width: 100px;
}

.logo :last-child {
  width: 70px;
}

.rightTopTag {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: public-sans;
}

.rightTopTag img {
  width: 48px;
  height: auto;
}

.tagText h1 {
  font-size: 26px;
  font-weight: bold;
  color: #5fa777;
  margin: 0;
}

.tagText h3 {
  font-size: 28px;
  font-weight: normal;
  color: #5fa777;
  margin: 0;
  line-height: 1;
}

.tagText {
  display: flex;
  flex-direction: column;
}

/* form */

.rightBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
  font-family: "Public Sans", sans-serif;
  margin: 2% auto;
  margin-top: 2vw;
}

.formBox {
  width: 500px;
  max-width: 600px;
  margin: 0 auto;
  padding: 24px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  display: flex !important ;
  flex-direction: column !important ;
}

.formBox h1 {
    width: 100%;
  font-family: "Public Sans", sans-serif;
  text-align: start;
  font-weight: 600;
  font-size: 24px;
  color: #19181c;
  margin-bottom: 24px;
}

label {
  display: block !important;
  color: #191b1c;
  font-family: "Public Sans", sans-serif !important;
  text-align: left !important;
}

.heading {
  font-family: "Public Sans", sans-serif;
  /* width: ; */
  font-size: 40px;
  font-weight: 800;
  color: #0f6609;
  margin: 0;
  width: 25vw;
  text-align: center;
  /* border: solid 1px red; */

}

.input-group {
  position: relative;
}

.form-control {
  width: 100%; 
  padding-right: 40px; 
}
.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #5fa777 !important;
  z-index: 1 !important; ;
}

.btn:focus {
  outline: none !important ;
  box-shadow: none !important ; 
  z-index: 99 !important ;
}

#button-addon2 {
  position: absolute;
  right: 10px; 
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.eye i {
  color: #333;
}

#login{
    width: 100%;
    border-radius: 32px;
    background-color: #5fa777;
    color: white;
    border: none;
    padding: 8px;
    margin-top: 24px;
}