* {
  margin: 0;
  padding: 0;
  /* background-color: #f6f6f6; */
  font-family: "Public Sans";
}

/* ---- NAV ---- */

/* ---- NAV END ---- */

/* ---- navigator ------ */

/* --------- body ----------- */

.body {
  background-color: #f6f6f6;
  padding-bottom: 100px;
}

/* helloadmin */

.body .helloadmin {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 24px 80px;
  gap: 10px;
}

.body .helloadmin h2 {
  font-size: 16px;
  font-weight: 600;
  color: #191b1c;
  margin: 0;
}

.body .helloadmin p {
  font-size: 14px;
  font-weight: 400;
  color: #626c70;
  margin: 0;
}

/* helloadmin end */

/* --- cards ----- */

.analytics {
  display: flex;
  width: 100%;
  /* flex-direction: column; */
  align-items: center;
  padding: 24px 80px;
  gap: 24px;
}

.analytics .card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  background-color: white;
  border-radius: 10px;
  width: 22vw;
  /* height: 5vw; */
  min-height: 148px;
  padding: 24px;
  padding-bottom: 28px;
  cursor: pointer;
  border-radius: 8px;
  /* border: solid 1px #ff0000; */
}

.analytics .card img {
  width: 60px;
  align-self: flex-start;
}

.analytics .card div {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.analytics .card p {
  font-size: 0.675vw;
  font-weight: 400;
  color: #626c70;
  margin: 0;
}

.analytics .card h1 {
  font-size: 1.04vw;
  font-weight: 600;
  color: #191b1c;
  margin: 0;
  line-height: 1.67vw;
}

/* CARD END */

/* recent chart  */

.recentChart {
  background-color: white;
  margin: 24px 80px;
  border-radius: 10px;
}

.recnet-heading {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 26px 40px;
  gap: 8px;
}

.recnet-heading h2 {
  font-size: 16px;
  font-weight: 600;
  color: #191b1c;
  margin: 0;
  /* padding: 24px 80px; */
}

/* AG grid */

.ag-root-wrapper {
  border-radius: 0 0 8px 8px;
  border: none !important;
  /* border: solid red 1px !important; */
  /* padding-left: 24px; */
}
.ag-header {
  /* border: 1px solid black; */
  background-color: #f8f9f9 !important;
  padding-left: 20px;
}

.ag-header-cell-label {
  font-family: "Public Sans", sans-serif !important;
  font-weight: 500;
  font-size: 12px;
  color: #4a5154;
  border: none !important;
  /* border: 1px solid black !important; */
}

.ag-theme-quartz {
  /* border: solid red 1px !important; ; */
  height: 100% !important;
  --ag-row-hover-color: transparent !important;
}

.ag-theme-alpine .ag-row-hover {
  background-color: transparent !important;
  /* border: 1px solid black !important; */
}

.ag-cell {
  font-family: "Public Sans", sans-serif !important;
  font-size: 14px;
  font-weight: 500;
  padding-left: 38px;
  display: flex !important;
  align-items: center !important;
  border: none !important;
}

.actionBtn {
  width: 100%;
  padding: 12px;
  border-radius: 24px;

  font-size: 14px;
  font-weight: 500;
  color: #5fa777;
  background-color: #fff;
  border: 1px solid #5fa777;
  cursor: pointer;
  transition: background-color 300ms ease, color 300ms ease;
}

.actionBtn:hover {
  background-color: #5fa777;
  color: #fff;
}

#paginationNumbers {
  color: #000000;

  font-size: 14px;
  font-weight: 400;
}

#paginationControls {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 24px 24px;
}

#paginationControler {
  display: flex;
  gap: 10px;
}

#paginationControls button {
  width: 40px;
  background-color: #fff;

  font-size: 14px;
  font-weight: 500;
  color: #626c70;
  border-radius: 100%;
  padding: 10px;
  border: none;
  cursor: pointer;
}

#paginationControls button:hover {
  background-color: #f5f6f7;
  color: #000;
}

#paginationControls #arrow-button {
  background-color: #edfff3;
  color: #0f6609;
}

.active-pagination-button {
  color: green;
}

/* second grid */

#paginationNumbers1 {
  color: #000000;

  font-size: 14px;
  font-weight: 400;
}

#paginationControls1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 24px 24px;
}

#paginationControler1 {
  display: flex;
  gap: 10px;
}

#paginationControls1 button {
  width: 40px;
  background-color: #fff;

  font-size: 14px;
  font-weight: 500;
  color: #626c70;
  border-radius: 100%;
  padding: 10px;
  border: none;
  cursor: pointer;
}

#paginationControls1 button:hover {
  background-color: #f5f6f7;
  color: #000;
}

#paginationControls1 #arrow-button {
  background-color: #edfff3;
  color: #0f6609;
}

/* --------- model --------- */
.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.modal-body .input {
  font-weight: 400;
  font-size: 14px;
  color: #191b1c;
}

#statusDiv {
    width: 100%;
  display: flex;
  justify-content: center;
  border: 0.5px solid  #5fa777 ;
  background-color: #edfff3;
  border-radius: 32px;
  padding: 10px;
  margin: 10px 0;
  gap: 10px;
  cursor: pointer;
  color: #5fa777;
}

